DATABRICKS_CONFIG_PROFILE=your_profile_name
DATABRICKS_SERVING_ENDPOINT_NAME=databricks-qwen3-next-80b-a3b-instruct
DATABRICKS_WAREHOUSE_ID=your_sql_warehouse_id
DATABRICKS_VECTOR_SEARCH_INDEX_NAME=customer_support_rag.support.support_docs_index
DATABRICKS_APP_PORT=8000
DATABRICKS_APP_NAME=tutorial-customer-app
FLASK_RUN_HOST=0.0.0.0
